@media screen and (max-width:576px){
   .nav-container{
    flex-direction: column;}
    .nav-item{
        flex-direction: column;
        align-items: center;
    }
    .banner{
        flex-direction: column;
        margin-top: 100px;
       }
       
       .banner-1{
        flex-direction: column;
        
       }
       .box{
        flex-direction: column;
       }

}
