.nav-container{
display: flex;
align-items: center;
height: 8.125rem;
justify-content: space-around;
}

.logo-container{
display: flex;
align-items: center;
gap: 10px;
}
.logo-container img{
width: 5.37756rem;
height: 2.5rem;
;
}
.logo-container p{
font-size: 2.8125rem;
font-weight: 700;

}
.color-g{
    color:#FF42A5 ;
}

.nav-item{
display:flex;
gap: 25px;
align-items: center;

}
.nav-item a{
text-decoration: none;

}

.banner{
display: flex;
justify-content: space-around;
margin-top: 50px;
align-items: center;
}
.banner-text{
    align-items: center;
    margin-left: 20px;
}
.banner-text h1{
    color: #FF42A5}
 .banner-img{
width: 50px;
margin-right: 500px;
}

.banner-1{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.banner-1-text h1{
    color: #FF42A5
}

.funny-text{

margin-left: 45%;

}

.funny{
    color: #FF42A5;
}

.box{
    display: flex;
    gap:5px
    }
    .cotainer{
        display: flex;
        margin-top: 50px;
        align-items: center;
        
    }

    .play{
        color: #FF42A5;
    }
    
.box-2{
        display: inline-block;
        width: 100px;
        height: 100px;
        background: red;
        color: white;
        margin-left: 300px;
        }

   .box-1{
    position: relative;
    top: 400px;
    right: 200px;
    
  }
        
.play-2{
    color: #FF42A5;
}

.cotainer2{
    display: flex;
    margin-top: 500px;
    align-items: center;
}
  .box4{
    position: relative;
    top: 200px;
    right: 150px;
    
    
  }
  .main{
    background-color: #FF42A5;
    margin-top: 110px;
    height: 40rem;
    display: flex;
    align-items: center;
    
  }
  
  .text-color{
    color: aliceblue;
    margin-left: 30px;
  }
  .text-box{
    display: flex;
    margin-top: 100px;
    margin-left: 30px;
  }
  .main img{
    margin-left: 120px;
  }
  
    
    
  

  
    
    
     

    


   


    
