.nav-container{
display: flex;
align-items: center;
height: 8.125rem;
justify-content: space-around;
}

.logo-container{
display: flex;
align-items: center;
gap: 10px;
}
.logo-container img{
width: 5.37756rem;
height: 2.5rem;
;
}
.logo-container p{
font-size: 2.8125rem;
font-weight: 700;

}
.color-g{
    color:#FF42A5 ;
}

.nav-item{
display:flex;
gap: 20px;

}
.nav-item a{
text-decoration: none;
}

.banner{
display: flex;
justify-content: space-around;
margin-top: 50px;
align-items: center;
}
.banner-text{
    align-items: center;
}
.banner-text h1{
    color: #FF42A5;


}
.banner-btn{
    display: inline-flex;
    padding: 1.3125rem 2.5rem;
    align-items: flex-start;
    gap: 0.625rem

}
.banner-img{
width: 50px;
margin-right: 500px;


}

    


   


    
